<launch>
  
  <!-- start rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find tf_keyboard_cal)/launch/rviz_demo.rviz" output="screen"/>

  <!-- static transform to robot base -->
  <node pkg="tf" type="static_transform_publisher" name="my_tf" args="0 0 0 0 0 0 /base /world 100"/>

  
</launch>
